<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="zxx">
<head>
<title>Tattooist a Fashion Category Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
<!-- custom-theme -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Tattooist Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //custom-theme -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" type="text/css" href="css/zoomslider.css" />
<link href="css/team.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/ziehharmonika.css" rel="stylesheet" type="text/css">
<link href="css/wimmViewer.css" rel="stylesheet" type="text/css">
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- font-awesome-icons -->
<link href="css/font-awesome.css" rel="stylesheet"> 
<!-- //font-awesome-icons -->
<link href="//fonts.googleapis.com/css?family=UnifrakturMaguntia" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<link href="//fonts.googleapis.com/css?family=Lora:400,400i" rel="stylesheet">
</head>
<body>
<!-- header -->
	<div id="demo-1" data-zs-src='["images/4.jpg", "images/2.jpg", "images/1.jpg","images/3.jpg"]' data-zs-overlay="dots">
		<div class="demo-inner-content">
		<!--/header-w3l-->
			   <div class="header-w3-agileits" id="home">
					<div class="inner-header-agile">	
					   <div class="w3_agile_menu">
						   <div class="agileits_w3layouts_nav">
							<div id="toggle_m_nav">
								<div id="m_nav_menu" class="m_nav">
									<div class="m_nav_ham w3_agileits_ham" id="m_ham_1"></div>
									<div class="m_nav_ham" id="m_ham_2"></div>
									<div class="m_nav_ham" id="m_ham_3"></div>
								</div>
							</div>
							<div id="m_nav_container" class="m_nav wthree_bg">
								<nav class="menu menu--sebastian">
									<ul id="m_nav_list" class="m_nav menu__list">
										<li class="m_nav_item active" id="m_nav_item_1"> <a href="index.html" class="link link--kumya"><i class="fa fa-home" aria-hidden="true"></i><span data-letters="Home">Home</span></a></li>
										<li class="m_nav_item" id="moble_nav_item_2"> <a href="#services" class="link link--kumya scroll"><i class="fa fa-cog" aria-hidden="true"></i><span data-letters="Services">Services</span></a></li>
										<li class="m_nav_item" id="moble_nav_item_3"> <a href="#about" class="link link--kumya scroll"><i class="fa fa-info-circle" aria-hidden="true"></i><span data-letters="About Us">About Us</span></a></li>
										<li class="m_nav_item" id="moble_nav_item_4"> <a href="#team" class="link link--kumya scroll"><i class="fa fa-user" aria-hidden="true"></i><span data-letters="Artists">Artists</span></a></li>
										<li class="m_nav_item" id="moble_nav_item_5"> <a href="#gallery" class="link link--kumya scroll"><i class="fa fa-picture-o" aria-hidden="true"></i><span data-letters="Gallery">Gallery</span></a></li>
										<li class="m_nav_item" id="moble_nav_item_6"> <a href="#contact" class="link link--kumya scroll"><i class="fa fa-envelope-o" aria-hidden="true"></i><span data-letters="Contact Us">Contact Us</span></a></li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
					<div class="header">
						<div class="w3_agileits_header_text">
								<ul class="top_agile_w3l_info_icons">
									<li><i class="fa fa-phone" aria-hidden="true"></i>(+000) 123 456 78</li>
									<li><i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:maria@example.com">info@example.com</a></li>
								</ul>

						</div>
						<div class="agileinfo_social_icons">
							<ul class="agileits_social_list">
								<li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								<li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
								<li><a href="#" class="w3_agile_rss"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
							</ul>
						</div>
						<div class="wthree_search">
							<form action="#" method="post">
								<input type="search" name="Search" placeholder="Search" required="">
								<input type="submit" value="">
							</form>
						</div>
						<div class="clearfix"> </div>
					</div>				
				 </div> 

			
		<!--//header-w3l-->
			<!--/banner-info-->
			   <div class="agile-baner-info-w3ls">  
					<h1><a href="index.html"><span>T</span>atted</a></h1>			   
			         <h3>TATTOO<span>REMOVAL </span>SERVICE </h3>
				
				     <a href="#" data-toggle="modal" data-target="#myModal" class="hvr-buzz-out read">Read More</a>
			   </div>
			<!--/banner-ingo-->
			
		</div>
		   </div>
    </div>
  <!--/banner-section-->
	<!--about-->
<div class="about" id="about">
	<div class="container">
		<div class="about-main">
			<div class="col-md-6 about-left_w3ls_img">
				
			</div>
			<div class="col-md-6 about-right_w3ls">
		  <div class="about-top_agile_its">
			<h2>About Us</h2>
			<h5>Lorem ipsum dolor sit ame</h5>
			<p>Nulla eget mauris quis elit mollis ornare vitae ut odio. Cras tincidunt, augue vitae sollicitudin commodo, quam elit varius est, et ornare ante massa quis tellus. Mauris nec lacinia nisl. Curabitur tempus tellus et vulputate vestibulum.
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>
			<span>Nulla eget mauris quis elit mollis ornare vitae ut odio. Cras tincidunt, augue vitae sollicitudin commodo, quam elit varius est</span>
		
			

	  </div>
   <div class="clearfix"> </div>
	   </div>
    </div>
</div>
	<!-- //about -->
	<!-- Tooltip -->
				<div class="tooltip-content">

					<div class="modal fade features-modal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
									<h4 class="modal-title">Some few words</h4>
								</div>
								<div class="modal-body">
									<img src="images/g4.jpg" alt="Hitech Info">
									<h5>We create best Designs</h5>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent varius lectus vitae porttitor fringilla. Donec turpis orci, elementum a nunc quis, maximus varius ipsum. Sed bibendum ex in dignissim bibendum.</p>
								</div>
							</div>
						</div>
					</div>

				</div>
				<!-- //Tooltip -->
<!--/services -->
	<div class="banner-bottom jarallax" id="services">
		   <div class="agile_overlay">
		     <div class="container">
			<div class="agileits_heading_section">
				<h3 class="wthree_head two">What We Offer</h3>
				<p class="w3l_sub_para_agile">Tattoo With Experience</p>
				
			</div>
			<div class="inner_w3l_agile_grids">
				<div class="col-md-4 w3ls_banner_bottom_grid">
					<div class="w3l_banner_bottom_grid1">
						<i class="fa fa-thumb-tack" aria-hidden="true"></i>
					</div>
					<h4>Tatto Design</h4>
					<p>Curabitur quis egestas diam. Vivamus ut libero ut metus tempor scelerisque nec ac turpis.tempor scelerisque nec</p>
				</div>
				<div class="col-md-4 w3ls_banner_bottom_grid two">
					<div class="w3l_banner_bottom_grid1">
						<i class="fa fa-heart-o" aria-hidden="true"></i>
					</div>
					<h4>Tatto Removal</h4>
					<p>Curabitur quis egestas diam. Vivamus ut libero ut metus tempor scelerisque nec ac turpis.tempor scelerisque nec</p>
				</div>
				<div class="col-md-4 w3ls_banner_bottom_grid">
					<div class="w3l_banner_bottom_grid1">
						<i class="fa fa-bell-o" aria-hidden="true"></i>
					</div>
					<h4>Special Occasions</h4>
					<p>Curabitur quis egestas diam. Vivamus ut libero ut metus tempor scelerisque nec ac turpis.tempor scelerisque nec</p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		</div>
</div>
<!-- //services -->
<!-- team -->
<!-- //team -->

<!--start-gallery-->
<div class="gallery" id="gallery">
	 <div class="agileits_heading_section">
				<h3 class="wthree_head">Gallery</h3>
				<p class="w3l_sub_para_agile">Tattoo With Experience</p>
			</div>
			<div class="inner_w3l_agile_grids">
				<div class="col-md-3 gallery-grid gallery1">
					<a href="images/g1.jpg" class="swipebox"><img src="images/g1.jpg" class="img-responsive" alt="/">
						<div class="textbox">
						<h4>Tattooist</h4>
							<p><i class="fa fa-pencil" aria-hidden="true"></i></p>
							
						</div>
				</a>
				</div>
				<div class="col-md-3 gallery-grid gallery1">
					<a href="images/g2.jpg" class="swipebox"><img src="images/g2.jpg" class="img-responsive" alt="/">
						<div class="textbox">
						<h4>Tattooist</h4>
							<p><i class="fa fa-pencil" aria-hidden="true"></i></p>
						
						</div>
				</a>
				</div>
				<div class="col-md-3 gallery-grid gallery1">
					<a href="images/g3.jpg" class="swipebox"><img src="images/g3.jpg" class="img-responsive" alt="/">
						<div class="textbox">
						<h4>Tattooist</h4>
							<p><i class="fa fa-pencil" aria-hidden="true"></i></p>
							
						</div>
				</a>
				</div>
				<div class="col-md-3 gallery-grid gallery1">
					<a href="images/g4.jpg" class="swipebox"><img src="images/g4.jpg" class="img-responsive" alt="/">
						<div class="textbox">
						<h4>Tattooist</h4>
							<p><i class="fa fa-pencil" aria-hidden="true"></i></p>
							
						</div>
				</a>
				</div>
				<div class="col-md-3 gallery-grid gallery1">
					<a href="images/g5.jpg" class="swipebox"><img src="images/g5.jpg" class="img-responsive" alt="/">
						<div class="textbox">
						<h4>Tattooist</h4>
							<p><i class="fa fa-pencil" aria-hidden="true"></i></p>
							
						</div>
					</a>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>	
	</div>
		
	<!--//gallery-->
	
	<!--/slider-->
		<div class="sub_section" id="menu">
		    <div class="container">
				<div class="agileits_heading_section">
					<h3 class="wthree_head">some more Features</h3>
					<p class="w3l_sub_para_agile">Tattoo With Experience</p>
					
				</div>
				<div class="inner_w3l_agile_grids">
		
					 <div class="col-md-6 menu_w3ls_agile_top_section">
					 <h4>WE WILL ADVISE</h4>
						<div class="ziehharmonika">
						<h3>Tatto Design</h3>
						<div>
							  <div class="agile_wthree_info_text">
							           <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
									</div>

						</div>
						<h3>Tatto Removal</h3>
						<div>
						    <div class="agile_wthree_info_text">
							           <p>Curabitur quis egestas diam.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
									</div>

						</div>
						<h3>Body Modification</h3>
						<div>
								 <div class="agile_wthree_info_text">
							           <p>Curabitur quis egestas diam.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
									</div>

						</div>
					  </div>
					</div>
					<div class="col-md-6 sub-slider">
					     <h4>WE BRING TATTOO TO LIFE</h4>
					     <div id="slider1">
							<div class="carousel">
								<ul class="carousel_inner">
									<li class="item" style="background-image: url(images/1.jpg);" data-url="images/1.jpg">
									</li>
									<li class="item" style="background-image: url(images/2.jpg);" data-url="images/2.jpg">
									</li>
									<li class="item" style="background-image: url(images/3.jpg);" data-url="images/3.jpg">
									</li>
									<li class="item" style="background-image: url(images/4.jpg);" data-url="images/4.jpg">
									</li>
								</ul>
							</div>
						</div>
					</div>
				<div class="clearfix"> </div>
			  </div>
			</div>
		</div>
<!--//slider-->
<!-- stats -->
	<div class="stats jarallax" id="stats">
	  <div class="agile_overlay2">
	    <div class="container"> 
		<div class="agileits_heading_section">
				<h3 class="wthree_head two">Stats</h3>
				<p class="w3l_sub_para_agile">Tattoo With Experience</p>
				
			</div>
			<div class="inner_w3l_agile_grids">
		<div class="col-md-3 w3layouts_stats_left w3_counter_grid">
		    <i class="fa fa-picture-o" aria-hidden="true"></i>
			<p class="counter">1,546</p>
			<h3>Tattoos</h3>
		</div>
		<div class="col-md-3 w3layouts_stats_left w3_counter_grid1">
		    <i class="fa fa-smile-o" aria-hidden="true"></i>
			<p class="counter">14,345</p>
			<h3>Happy Clients</h3>
		</div>
		<div class="col-md-3 w3layouts_stats_left w3_counter_grid2">
		<i class="fa fa-trophy" aria-hidden="true"></i>
			<p class="counter">563</p>
			<h3>Awards Won</h3>
		</div>
		<div class="col-md-3 w3layouts_stats_left w3_counter_grid3">
		<i class="fa fa-pencil" aria-hidden="true"></i>
			<p class="counter">2,874</p>
			<h3>Henna Designs</h3>
		</div>
		<div class="clearfix"> </div>
	</div>
   </div>	
</div>
</div>
<!-- //stats -->
	<!--/contact-->
<div class="contact-w3ls" id="contact">
	<div class="container">
	<div class="agileits_heading_section">
				<h3 class="wthree_head">Contact Us</h3>
				<p class="w3l_sub_para_agile">Give us a message</p>
			</div>
	<div class="inner_w3l_agile_grids">
		<div class="contact-w3-agile2" data-aos="flip-left">
			<div class="contact-agileits">
				<h4>Drop a Line</h4>
				<p class="contact-agile2">Sign Up For Our News Letters</p>
				<form action="#" method="post" name="sentMessage" id="contactForm" novalidate>
				  <div class="col-md-6 w3l_area_its">
					<div class="control-group form-group">
                        <div class="controls">
                            <label class="contact-p1">Full Name:</label>
                            <input type="text" class="form-control" name="name" id="name" required data-validation-required-message="Please enter your name.">
                            <p class="help-block"></p>
                        </div>
                    </div>	
                    <div class="control-group form-group">
                        <div class="controls">
                            <label class="contact-p1">Phone Number:</label>
                            <input type="tel" class="form-control" name="phone" id="phone" required data-validation-required-message="Please enter your phone number.">
							<p class="help-block"></p>
						</div>
                    </div>
					</div>
					 <div class="col-md-6 w3l_area">
                    <div class="control-group form-group">
                        <div class="controls">
                            <label class="contact-p1">Email Address:</label>
                            <input type="email" class="form-control" name="email" id="email" required data-validation-required-message="Please enter your email address.">
							<p class="help-block"></p>
						</div>
                    </div>
                    <div id="success"></div>
                    <!-- For success/fail messages -->
                    <button type="submit" class="btn btn-primary">Send</button>
					</div>	
<div class="clearfix"> </div>					
				</form>            
			</div>
			
			<div class="col-md-4 loc-left">
					<h4>Address 1 :</h4>
					<p>Hospital Pkwy</p>
					<p>San Jose, CA USA</p>
					<p>Telephone : +2 00 544 6035</p>
					<p>FAX : +1 500 889 5432</p>
					<p>Email : <a href="mailto:example@email.com">mail@example.com</a></p>
			</div>

			
			<div class="col-md-4 loc-left">
			<h4>Address 2 :</h4>
			<p>Hospital Way</p>
			<p>Victoria, BC Canada</p>
			<p>Telephone : +2 00 544 6035</p>
			<p>FAX : +1 500 889 5432</p>
			<p>Email : <a href="mailto:example@email.com">mail@example.com</a></p>
		</div>

		
			<div class="col-md-4 loc-left">
			<h4>Address 3 :</h4>
			<p>University Hospital</p>
			<p>4056 Basel, Switzerland</p>
			<p>Telephone : +2 00 544 6035</p>
			<p>FAX : +1 500 889 5432</p>
			<p>Email : <a href="mailto:example@email.com">mail@example.com</a></p>
		</div>
			<div class="clearfix"></div>
		</div>
		
		<div class="clearfix"></div>
	</div>
</div>
</div>
<!-- <div class="contact-w3-agile1 map" data-aos="flip-right">
			
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d100949.24429313939!2d-122.44206553967531!3d37.75102885910819!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80859a6d00690021%3A0x4a501367f076adff!2sSan+Francisco%2C+CA%2C+USA!5e0!3m2!1sen!2sin!4v1472190196783" class="map" style="border:0" allowfullscreen=""></iframe>
</div> -->
<!--footer-->
<div class="agile-footer jarallax">
<div class="agile_overlay1">
         
		<div class="container">
		      <div class="cam"><a href="index.html"><span>T</span>attooist</a></div>

			<div class="w3_agileits_social_media">
					<ul class="agileits_social_list footer_icons_w3l">
								<li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								<li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
								<li><a href="#" class="w3_agile_rss"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
							</ul>
				</div>

			<div class="copy-right">
				<p>© 2017 Tattooist. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
			</div>
		</div>
	</div>
</div>
	<!-- //footer -->

<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>

	<!-- js -->
<script src="js/jquery-2.1.4.min.js"></script> 
<script type="text/javascript" src="js/modernizr-2.6.2.min.js"></script>
<script type="text/javascript" src="js/jquery.zoomslider.min.js"></script>
<!-- menu -->
	<script type="text/javascript" src="js/main.js"></script>
<!-- //menu -->

			<script src="js/jarallax.js"></script>
	<script src="js/SmoothScroll.min.js"></script>
	<script type="text/javascript">
		/* init Jarallax */
		$('.jarallax').jarallax({
			speed: 0.5,
			imgWidth: 1366,
			imgHeight: 768
		})
	</script>

<script src="js/ziehharmonika.js"></script>
<script>
$(document).ready(function() {
		$('.ziehharmonika').ziehharmonika({
			collapsible: true,
			prefix: ''
		});
	});
</script>
<script src="js/wimmViewer.js"></script>
<script>
    $(function(){
        $('#slider1').WimmViewer({
            miniatureWidth : 100,
            miniatureHeight: 100
            // Availables customizations:
            /*
             miniatureSpace: 10,
             nextText:'Next',
             prevText:'Prev',
             onImgChange : function() { console.log('changed'); },
             onNext : function() { console.log('next'); },
             onPrev : function() { console.log('previous'); },
             */
        });
    })
</script>
<!-- start-smoth-scrolling -->
<script src="js/jqBootstrapValidation.js"></script>
<script src="js/contact_me.js"></script>
<!-- //for bootstrap working -->
<!-- stats -->
	<script src="js/jquery.waypoints.min.js"></script>
	<script src="js/jquery.countup.js"></script>
		<script>
			$('.counter').countUp();
		</script>
<!-- //stats -->
<!-- start-smooth-scrolling -->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smooth-scrolling -->
<link rel="stylesheet" href="css/swipebox.css">
				<script src="js/jquery.swipebox.min.js"></script> 
					<script type="text/javascript">
						jQuery(function($) {
							$(".swipebox").swipebox();
						});
					</script>

<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->

<script type="text/javascript" src="js/bootstrap-3.1.1.min.js"></script>


</body>
</html>